body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#tracker {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #c6c6c6;
}
label {
    display: block;
    margin-bottom: 5px;
}
select, input[type="checkbox"], input[type="number"], button {
    margin-bottom: 10px;
}
.spell-slot {
    display: flex;
    align-items: center;
}
.spell-slot label {
    flex: 1;
}
